@charset "UTF-8";
// Setting parameters by wjw
$WinWitdh:100%;
$BaseFont:#222222;
$BaseC:#ffcb51;
$Bg:#eeeeee;
$Bg2:#ffffff;
$Bg3:#f5f5f5;
$LinkC:#06f;
$HoverC:#f60;
$FontC:#999999;
$baseFontSize:20;
$FontSize:26;
$FontSize2:28;
$FontSize3:32;
$FontSize4:22;
