@charset "utf-8";
@import "../base/_mixin.scss";
.brand-wrap{
  background: $Bg2;
  position: absolute;
  overflow: auto;
  z-index: 100;
  top: 0;
  width: 100%;
  font-size: $FontSize4;
  .title{
    line-height: pxToRem(90);
    height: pxToRem(90);
    width: 100%;
    text-align: center;
    position: fixed;
    top:0;
    font-size:pxToRem($FontSize3);
    background: $Bg2;
    span{
      position:absolute;
      @include iconFont;
      &:before{
        display: inline-block;
        content: "\e621";
        transform:scale(1.5,1.5);
      }
      left: pxToRem(30);
    }
  }
  .brand-list{
    margin-top:pxToRem(90);
    font-size:pxToRem($FontSize2);
    ul{
      width: 100%;
      div.section{
        padding:0 pxToRem(30);
        background: #f2f2f2;
        font-size: pxToRem($FontSize);
        line-height: pxToRem(60);
      }
      div.inner-list {
        padding:0 pxToRem(30);
        line-height: pxToRem(90);
        border-bottom: 1px solid #d9d9d9;
      }
      div.inner-list:last-of-type{
        border-bottom: none;
      }
    }
  }
  .brand-anchor{
    position: fixed;
    font-size: pxToRem(22);
    right: pxToRem(30);
    top: pxToRem(180);
    background: none;
    line-height: pxToRem(40);
    width: pxToRem(30);
    text-align: center;
  }

}
