@charset "utf-8";
@import "../base/_mixin.scss";
.sell-wrap {
  background: $Bg;
  min-height: 100vh;
  padding-bottom: pxToRem(150);
  .sell-list{
    margin-top:pxToRem(110);
  }
  .el-form-item{
    background: $Bg2;
    padding: pxToRem(10);
    margin-bottom: pxToRem(20);
  }
  .el-select {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .sell-btn-wrap{
    width: 100%;
    text-align: center;
    margin-top:pxToRem(50);
    .sell-car-btn{
      width: 50%;
      line-height: pxToRem(90);
      font-size: pxToRem($FontSize5);
      background: $BaseC;
      display: inline-block;
      text-align: center;
      border-radius: pxToRem(45);
    }
  }
}
